# Git
.git
.gitignore

# Python Cache & Ambientes Virtuais
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.venv
env/
venv/

# Dados e Notebooks
data/
notebooks/

# Logs Locais 
logs/
*.log

# Testes e Qualidade de Código
tests/
.pytest_cache/
.coverage
htmlcov/

# IDE & Configurações Locais
.vscode/
.idea/
*.swp
.DS_Store

# Documentação
README.md
*.pdf
*.md

# Arquivos de Gerenciamento de Dependências (usamos o requirements.txt gerado)
pyproject.toml
poetry.lock

# Docker
Dockerfile
.dockerignore