# --- Python & Ambiente ---
**/__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# --- Ambientes Virtuais & Variáveis ---
.env
.venv
env/
venv/
ENV/
.python-version

# --- IDEs & Editores ---
.vscode/
.idea/
.history/
*.swp
.DS_Store
Thumbs.db

# --- Logs & Testes ---
*.log
logs/
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# --- Dados ---
# 1. Ignora tudo dentro de data por padrão (Segurança)
data/*

# 2. Exceções: Mantém a estrutura de pastas vazias
!data/raw/.gitkeep
!data/processed/.gitkeep

# 3. Exceção Específica: Dataset Amostra (Necessário para avaliação do Datathon)
!data/raw/dataset_pede_passos.csv

# --- Artefatos de Modelo ---
# Ignora binários gerais
*.pkl
*.joblib

# Exceção: Permitir modelo treinado para garantir que a API funcione de imediato (Necessário para avaliação do Datathon)
!app/model/pipeline.joblib

# --- Monitoramento ---
!app/model/baseline_stats.json

# --- Jupyter Notebooks ---
.ipynb_checkpoints

# --- Docker ---
.docker/