annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "3.15"
anyio==4.12.1 ; python_version >= "3.11" and python_version < "3.15"
click==8.3.1 ; python_version >= "3.11" and python_version < "3.15"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.15" and platform_system == "Windows"
fastapi==0.109.2 ; python_version >= "3.11" and python_version < "3.15"
h11==0.16.0 ; python_version >= "3.11" and python_version < "3.15"
idna==3.11 ; python_version >= "3.11" and python_version < "3.15"
joblib==1.5.3 ; python_version >= "3.11" and python_version < "3.15"
numpy==1.26.4 ; python_version >= "3.11" and python_version < "3.15"
pandas==2.3.3 ; python_version >= "3.11" and python_version < "3.15"
pydantic-core==2.41.5 ; python_version >= "3.11" and python_version < "3.15"
pydantic==2.12.5 ; python_version >= "3.11" and python_version < "3.15"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "3.15"
python-multipart==0.0.9 ; python_version >= "3.11" and python_version < "3.15"
pytz==2025.2 ; python_version >= "3.11" and python_version < "3.15"
scikit-learn==1.8.0 ; python_version >= "3.11" and python_version < "3.15"
scipy==1.17.0 ; python_version >= "3.11" and python_version < "3.15"
six==1.17.0 ; python_version >= "3.11" and python_version < "3.15"
starlette==0.36.3 ; python_version >= "3.11" and python_version < "3.15"
threadpoolctl==3.6.0 ; python_version >= "3.11" and python_version < "3.15"
typing-extensions==4.15.0 ; python_version >= "3.11" and python_version < "3.15"
typing-inspection==0.4.2 ; python_version >= "3.11" and python_version < "3.15"
tzdata==2025.3 ; python_version >= "3.11" and python_version < "3.15"
uvicorn==0.27.1 ; python_version >= "3.11" and python_version < "3.15"
