annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "3.13"
anyio==4.12.1 ; python_version >= "3.11" and python_version < "3.13"
click==8.3.1 ; python_version >= "3.11" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.13" and platform_system == "Windows"
fastapi==0.110.3 ; python_version >= "3.11" and python_version < "3.13"
h11==0.16.0 ; python_version >= "3.11" and python_version < "3.13"
idna==3.11 ; python_version >= "3.11" and python_version < "3.13"
joblib==1.5.3 ; python_version >= "3.11" and python_version < "3.13"
numpy==1.26.4 ; python_version >= "3.11" and python_version < "3.13"
pandas==2.3.3 ; python_version >= "3.11" and python_version < "3.13"
pydantic-core==2.41.5 ; python_version >= "3.11" and python_version < "3.13"
pydantic-settings==2.13.1 ; python_version >= "3.11" and python_version < "3.13"
pydantic==2.12.5 ; python_version >= "3.11" and python_version < "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "3.13"
python-dotenv==1.2.1 ; python_version >= "3.11" and python_version < "3.13"
python-multipart==0.0.9 ; python_version >= "3.11" and python_version < "3.13"
pytz==2025.2 ; python_version >= "3.11" and python_version < "3.13"
scikit-learn==1.8.0 ; python_version >= "3.11" and python_version < "3.13"
scipy==1.17.1 ; python_version >= "3.11" and python_version < "3.13"
six==1.17.0 ; python_version >= "3.11" and python_version < "3.13"
starlette==0.37.2 ; python_version >= "3.11" and python_version < "3.13"
threadpoolctl==3.6.0 ; python_version >= "3.11" and python_version < "3.13"
typing-extensions==4.15.0 ; python_version >= "3.11" and python_version < "3.13"
typing-inspection==0.4.2 ; python_version >= "3.11" and python_version < "3.13"
tzdata==2025.3 ; python_version >= "3.11" and python_version < "3.13"
uvicorn==0.29.0 ; python_version >= "3.11" and python_version < "3.13"
